@import './rem';

// font size
$font-size-xxxxl:       rem(40);
$font-size-xxxl:        rem(36);
$font-size-xxl:         rem(34);
$font-size-xl:          rem(32);
$font-size-l:           rem(30);
$font-size-m:           rem(28);
$font-size-s:           rem(26);
$font-size-xs:          rem(24);
$font-size-xxs:         rem(22);
